#!/usr/bin/make -f

DESTDIR = debian/pxvirt-virtio-win/usr/share/pve-manager

%:
	dh $@

# the drivers are prepared by 'make slim' before the package is built
override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	test -f build/virtio-win/VERSION || (echo "run 'make slim' first" && false)
	install -d $(DESTDIR)
	cp -r build/virtio-win $(DESTDIR)/virtio-win

# these are Windows binaries
override_dh_strip:
override_dh_strip_nondeterminism:
override_dh_shlibdeps:
